/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@media only screen and (max-width: 600px) {
  .nav-footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: auto;
    min-height: 0; 
  }
}

/* navbar format */
.title-line {
  display: block;
  width: 100%;
  height: 0px;
  margin: 0px;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}

.navbar-title {
  font-size: 24px; 
  font-weight: bold; 
  line-height: 1;
}

.navbar-title span {
  display: block;
  margin: 0; 
}

.text-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.text-effect:first-of-type {
  animation: appear 6s infinite;
}

.text-effect:last-of-type {
  animation: reveal 6s infinite;
}

.text-effect span {
  animation: slide 6s infinite;
}

@keyframes appear {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide {
  0% { margin-left: -800px; }
  20% { margin-left: -800px; }
  35% { margin-left: 0px; }
  100% { margin-left: 0px; }
}

@keyframes reveal {
  0% { opacity: 0; width: 0px; }
  20% { opacity: 1; width: 0px; }
  30% { width: 655px; }
  80% { opacity: 1; }
  100% { opacity: 0; width: 655px; }
}

canvas {
  display: block;
  vertical-align: bottom;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100vh;
  z-index: -2;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; 
  }

#particles-js h1 h2 {
  position: absolute;
}

.footer {
  position: absolute;
  width: 100%; 
  z-index: 100; 
}

/* Title main page */
.title-main {
    margin-top: 10%;
    margin-left: 5%;
    font-weight: 600;
    max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .title-main span {
    font-size: 2em !important;
  }
  .title-main span[style*="1.5em"] {
    font-size: 1.2em !important;
  }
}

.callout-note .callout-header[aria-expanded=false] .callout-toggle::before {
  transform: none;
}

.callout-note.callout-style-default {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.callout-note.callout-style-default .callout-icon::before, .callout.callout-style-default .callout-toggle::before {
  height: 0rem;
  width: 0rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: .9rem .9rem;
}

